<div class="row mt-3">
    <div class="col-4">
            <div class="mb-3">
              <label for="cod" class="form-label">Codigo</label>
              <input disabled="{{disCod}}" type="number" class="form-control" id="cod" [(ngModel)]="articulo.codigo">
            </div>
            <div class="mb-3">
              <label for="des" class="form-label">Descipcion</label>
              <input type="text" class="form-control" id="des" [(ngModel)]="articulo.descrip">
            </div>
            <div class="mb-3">
              <label for="precio" class="form-label">Precio</label>
              <input type="text" class="form-control" id="precio" [(ngModel)]="articulo.precio">
            </div>
            <div class="mb-3">
              <label for="imgURL" class="form-label">URL imagen</label>
              <input type="text" class="form-control" id="imgURL" [(ngModel)]="articulo.imgURL">
            </div>
            <button class="btn btn-success m-2" (click)="agregar()">Agregar</button>
            <button class="btn btn-success" (click)="modificar()">Modificar</button><br><br>
        
    </div>
    <div class="col">
        <table class="table table-success table-striped" *ngIf="articulos.length > 0 else noArt">
            <thead>
              <th scope="col">Codigo</th>
              <th scope="col">Descripcion</th>
              <th scope="col">Precio</th>
              <th scope="col">Borrar</th>
              <th scope="col">Modificar</th>
            </thead>
            <tr *ngFor="let art of articulos; index as i">
              <td scope="row">{{ art.codigo }}</td>
              <td>{{ art.descrip }}</td>
              <td>${{ art.precio }}</td>
              <td><button class="btn btn-danger" (click)="borrar(i)">Borrar</button></td>
              <td><button class="btn btn-info" (click)="seleccionar(art, i)">Modificar</button></td>
            </tr>
        </table>
        <ng-template #noArt>
            <h3>No hay articulos</h3>
        </ng-template>
    </div>
</div>
